In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 100

In [90]:
def col_rename(df, dict_rules, ip=True):
    z = df.rename(columns = dict_rules, inplace=ip)
    return z

In [106]:
def print_unique(df,col):
    return df[col].unique()

In [72]:
def fill_nans_with_means(df,col):
    ''' fills nans in column with median '''
    return df[col].fillna(c_df.income.mean()).round()

In [73]:
def make_lower(df,col):
    return df['col'].str.lower()

In [74]:
def lower_case_column_names(df):
    ''' make columns lower case '''
    df.columns=[i.lower() for i in df.columns]
    return df

In [96]:
def strip_char(df,col,char):
    return list(map(lambda x: round(float(x.strip(char))/100,2)\
                                          if type(x)==str else round((x/100),2),df[col]))

In [97]:
def record_str_replace(df, col, dict_rules):
    return df[col].replace(dict_rules) # additional replacement

In [195]:
def get_between_slash_and_join(df,col):
    ''' returns middle entry in a string formatted by "a/b/cc" and avoid nans '''
    z  = list(
              map(lambda x : int(x[2]) if type(x)==str else x, df[col])
    )
                
    return res

In [196]:
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [197]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [198]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [199]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [200]:
col_rename(file3, {'State': 'ST'}) # rename State to ST

In [201]:
files = [file1,file2,file3]
files = list(map(lower_case_column_names,files)) # make the headers lowercase
c_df = pd.concat(files) # concat the data into a pandas frame
c_df = c_df.drop(labels=['customer'], axis=1) # drop customer label
c_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 1.0+ MB

In [202]:
gender_old = print_unique(c_df,'gender')
gender_old = list(gender_old)
gender_old

[nan, 'F', 'M', 'Femal', 'Male', 'female']

In [203]:
gender_new = ['U','F','M','F','M','F']
gender_replace_rules = dict(zip(gender_old,gender_new))
c_df['gender']=record_str_replace(c_df,'gender',gender_replace_rules)
print_unique(c_df,'gender')

array(['U', 'F', 'M'], dtype=object)

In [191]:
state_old = print_unique(c_df,'st')
state_old = list(state_old)
state_old

['Washington',
 'Arizona',
 'Nevada',
 'California',
 'Oregon',
 'Cali',
 'AZ',
 'WA',
 nan]

In [192]:
state_new = ['Washington',
 'Arizona',
 'Nevada',
 'California',
 'Oregon',
 'California',
 'Arizona',
 'Washington', 'Unknown']
state_replace_rules = dict(zip(state_old,state_new))
c_df['st']=record_str_replace(c_df,'st',state_replace_rules)
print_unique(c_df,'st')

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon',
       'Unknown'], dtype=object)

In [193]:
c_df['number of open complaints'] = get_between_slash_and_join(c_df,'number of open complaints')

TypeError: map() must have at least two arguments.

1    [1, 0, 00]
1    [1, 0, 00]
1           NaN
Name: number of open complaints, dtype: object

In [154]:
c_df['number of open complaints']

0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
7065         0
7066         0
7067         3
7068         0
7069         0
Name: number of open complaints, Length: 12074, dtype: object