In [61]:
from math import sqrt
import pandas as pd
import numpy as np
import scipy

In [42]:
def lower_case_column_names(df):
    ''' make columns lower case '''
    if isinstance(df,pd.core.frame.DataFrame):
        df.columns= [i.lower() for i in df.columns]
        df.columns = df.columns.str.replace(' ', '_')
    else: 
        raise TypeError
    return df
def col_rename(df, dict_rules, ip=True):
    ''' rename columns in data frame using a dictionary of rules  '''
    if isinstance(df,pd.core.frame.DataFrame) and isinstance(dict_rules,dict):
        z = df.rename(columns = dict_rules, inplace=ip)
    else:
        raise TypeError
    return z

In [1]:
h0 = 120 # null hypothesis
# sample statistics
n          = 100 
samp_avg   = 130.1
samp_stdev = 21.21

In [69]:
t_test = (samp_avg-h0)/(samp_stdev/sqrt(n))
t_test < 1.96

False

In [70]:
print("The null hypothesis is not supported by the data")

The null hypothesis is not supported by the data

In [72]:
df = pd.read_table("Data_Machine.txt", delimiter="\t") 
lower_case_column_names(df)

   new_machine  __old_machine
0         42.1           42.7
1         41.0           43.6
2         41.3           43.8
3         41.8           43.3
4         42.4           42.5
5         42.8           43.5
6         43.2           43.1
7         42.3           41.7
8         41.8           44.0
9         42.7           44.1

In [73]:
name_chg = {'__old_machine':'old_machine'}
col_rename(df,name_chg)
df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [ ]:
h0_machines = "average speed of new machine is less than old machine"

In [74]:
nr = 10

In [81]:
nm_mean = np.mean(df['new_machine'])# use np.mean()
om_mean = np.mean(df['old_machine'])# use np.mean()
nm_std = np.std(df.new_machine, ddof = 1)# use np.std() ddof = ?
om_std = np.std(df.old_machine, ddof = 1)# use np.std() ddof = ?
nm_mean < om_mean

True

In [76]:
t = (nm_mean - om_mean)/np.sqrt(((nm_std**2)/nr) + ((om_std**2)/nr))

print("Our t statistic is: {:.2f}".format(t))

Our t statistic is: -3.40

In [77]:
from scipy import stats

In [79]:
tc = stats.t.ppf(1-(0.05/2),df = nr)
tc

2.2281388519649385